@import url("https://fonts.googleapis.com/css?family=Pacifico");
@media only screen and (max-width: 425px) {
  .me {
    width: 100%;
    height: auto;
    display: block; }

  .aboutText {
    display: block; }

  #about {
    overflow: auto; }

  .email-text {
    font-size: 10px; }

  #work {
    overflow: auto; } }
nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  z-index: 100 !important; }
  nav .logo {
    float: left;
    color: #fff;
    position: relative;
    padding: 10px;
    font-size: 30px;
    font-family: "Pacifico", cursive;
    letter-spacing: 4px; }
  nav ul {
    position: relative;
    float: right;
    padding: 5px; }
  nav ul:last-child {
    margin-right: 10px; }
    nav ul:last-child li {
      padding: 10px;
      float: left; }
      nav ul:last-child li a {
        text-decoration: none;
        color: #fff;
        position: relative;
        font-size: 20px; }
      nav ul:last-child li a:after {
        position: absolute;
        left: 0%;
        top: 0%;
        content: "";
        height: 100%;
        transition: all 0.5s linear;
        width: 100%;
        border-bottom: 3px solid #fff;
        transform: scaleX(0); }
      nav ul:last-child li a:hover:after {
        transform: scale(1); }

#header {
  background: url("../img/bground01.jpg") no-repeat 100% 100% fixed; }
  #header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 800; }

.bounce {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #000;
  bottom: 5%;
  background-color: #000;
  background: url("../img/arrow-down.png") no-repeat center center;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  animation: Bouncing 2s infinite ease-in-out;
  z-index: 150 !important; }

.bounce:hover {
  cursor: pointer; }

@keyframes Bouncing {
  0% {
    bottom: 5%; }
  50% {
    bottom: 8%; }
  100% {
    bottom: 5%; } }
.triangle {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1px;
  border-right: 50vw solid transparent;
  border-top: 140px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 50vw solid #fff; }

.triangle1 {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1px;
  border-right: 50vw solid #fff;
  border-top: 140px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 50vw solid transparent; }

#about {
  background: -webkit-linear-gradient(top, #fff, #808080); }

.toCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

figure {
  width: 50vw;
  height: 50vh;
  float: left;
  -webkit-shape-outside: circle();
  -moz-shape-outside: circle();
  -o-shape-outside: circle();
  -ms-shape-outside: circle();
  shape-outside: circle(); }

.me {
  border-radius: 50%;
  -webkit-shape-outside: circle();
  -moz-shape-outside: circle();
  -o-shape-outside: circle();
  -ms-shape-outside: circle();
  shape-outside: circle();
  float: left;
  margin-right: 10px; }

.aboutText {
  margin-top: 10px;
  line-height: 2em;
  font-weight: 600; }

.titleName {
  text-align: center;
  font: 30px bold;
  font-weight: 900; }

#contact {
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000;
  color: #fff; }
  #contact .email-text {
    text-decoration: underline;
    font-size: 30px; }
  #contact .contactText {
    font-size: 30px; }

.socialIcon {
  width: 64px;
  height: 64px;
  margin: 20px; }

.triangle2 {
  width: 0;
  height: 0;
  position: absolute;
  top: -1px;
  border-right: 50vw solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 180px solid transparent;
  border-left: 50vw solid #fff; }

.triangle3 {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1px;
  border-right: 50vw solid #fff;
  border-top: 180px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 50vw solid transparent; }

.bounceUp {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
  bottom: 5%;
  background-color: #fff;
  background: url("../img/arrow-up.png") no-repeat center center;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  animation: Bouncing 2s infinite ease-in-out;
  z-index: 150 !important; }

.bounceUp:hover {
  cursor: pointer; }

#skills {
  background: -webkit-linear-gradient(top, #808080, #fff);
  display: flex;
  flex-direction: column;
  justify-content: center; }

.progress {
  overflow: hidden;
  margin: 10px auto;
  padding: 0 15px;
  width: 220px;
  height: 34px;
  background: #d3d5d9;
  border-radius: 17px;
  background-image: -webkit-linear-gradient(top, #ebecef, #bfc3c7);
  background-image: -moz-linear-gradient(top, #ebecef, #bfc3c7);
  background-image: -o-linear-gradient(top, #ebecef, #bfc3c7);
  background-image: linear-gradient(to bottom, #ebecef, #bfc3c7);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 6px #b6babe, 0 7px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.8), 0 2px 4px rgba(0, 0, 0, 0.35), 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 6px #b6babe, 0 7px rgba(255, 255, 255, 0.1); }

.progress-val {
  float: right;
  margin-left: 15px;
  font: bold 15px/34px Helvetica, Arial, sans-serif;
  color: #333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6); }

.progress-bar {
  display: block;
  overflow: hidden;
  height: 8px;
  margin: 13px 0;
  background: #b8b8b8;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 60%);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6); }

.progress-in {
  display: block;
  min-width: 8px;
  height: 8px;
  background: #1997e6;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, transparent 61%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #147cd6, #24c1fc);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, transparent 61%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #147cd6, #24c1fc);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, transparent 61%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #147cd6, #24c1fc);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 60%, transparent 61%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #147cd6, #24c1fc);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2); }

#work {
  text-align: center; }
  #work img {
    vertical-align: middle;
    margin: 10px;
    z-index: 1000 !important; }

.triangle4 {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1px;
  border-right: 50vw solid #000;
  border-top: 181px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 50vw solid transparent;
  z-index: -1; }

* {
  box-sizing: border-box; }

section {
  width: 100vw;
  height: 100vh;
  position: relative; }

footer {
  text-align: center;
  font-weight: 900; }

#scroller-top-button {
  display: none; }

/*# sourceMappingURL=main.css.map */
